*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/EtusivuCC.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.headermenu{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/MenutaustaCC.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.headeraukioloajat{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/AukioloajatTaustaCC.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.headeryhteys{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/ContactTaustaCC.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.headerkartalla{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/KarttataustaCC.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
.headerkuvia{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(76, 76, 82, 0.5),rgba(54, 21, 10, 0.5)),url(Images/KuviataustaCC.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    transition: background 1s;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
nav .logo img{
    width: 60px;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
nav:hover{
    background: #fff;
}
nav:hover .logo{
    color: #333;
}
nav:hover ul li a{
    color: #333;
}
.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;
}
.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
}
.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}
.contentmenu {
    color: #fff;
    text-align: center;
}
.contentmenu h1 {
    font-size: 70px;
    line-height: 140px;
    font-weight: 600;
    margin: 0; 
    
}
.contentmenu p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    text-align: center; 
    margin: 0 auto; 
}
.contentaukioloajat{
    margin-top: 9%;
    margin-left: 40%;
    color: #fff;
}
.contentaukioloajat h1{
    font-size: 70px;
    vertical-align: middle;
    line-height: 140px;
    font-weight: 600;
}
.contentaukioloajat p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    font-size: 24px;
}
.contentyhteys{
    margin-top: 9%;
    margin-left: 40%;
    color: #fff;
}
.contentyhteys h1{
    font-size: 70px;
    line-height: 140px;
    font-weight: 600;
}
.contentyhteys p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    font-size: 24px;
}
.contentkartalla {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.contentkartalla h1 {
    font-size: 70px;
    line-height: 140px;
    font-weight: 600;
    margin: 0; /* Remove default margin */
}
.contentkartalla p {
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    font-size: 24px;
}
.contentkuvia{
    margin-top: 9%;
    margin-left: 35%;
    color: #fff;
}
.contentkuvia h1{
    font-size: 70px;
    line-height: 140px;
    font-weight: 600;
    margin: 0; 
}
.contentkuvia p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
    font-size: 24px;
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btn{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}
.slide-left{
    animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
.wrapper {
    display: flex;
    justify-content: space-around;
  }
  .box {
    flex: 0 0 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px groove rgb(255, 255, 255);
    border-radius: 20px;
    color: #fff;
  }
  button {
    margin-top: auto;
  }
  * {box-sizing:border-box}  
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
